html {
  background-color: #F5F5F5;
}

.intro {
  display: flex;
}

.title {
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  display: inline-block;
}

.title h1 {
  text-align: center;
  font-size: 40pt;
  margin: 10px auto;
}

.title h3 {
  width: 100%;
  text-align: center;
  font-style: italic;
  margin: 0 auto;
}

h2 {
  font-size: 16pt;
}

hr {
  height: 25px;
  background-color: black;
  margin: 15px 0;
}

.date, .city {
  width: 30%;
  position: absolute;
  font-size: 15pt;
  display: inline-block;
  top: 125px;
}

.date {
  left: 300px;
  text-align: left;
}

.city {
  right: 300px;
  text-align: right;
}

.body {
  display: flex;
  width: 90%;
  margin-left: 100px;
  overflow-x: hidden;
}

.options {
  display: inline-block;
  width: 45%;
  margin: 50px;
}

.picture {
  display: inline-block;
  width: 40%;
  margin: 50px;
}

.picture img {
  width: 100%;
}

input[type="checkbox"] {
  padding: 10px;
  margin: 5px 10px 5px 5px;
}

ul {
  list-style: none;
  margin: 5px;
}

h3 {
  display: inline-block;
  font-size: 12pt;
}

li label {
  font-size: 11pt;
}

.collapsible {
  cursor: pointer;
}

.header:hover {
  background-color: lightblue;
}

li {
  line-height: 1.6em;
}

li:hover {
  background-color: lightblue;
}

.list-button {
  margin: 5px 10px 5px 20px;
  border-radius: 5px;
  outline-color: lightblue;
  height: 23px;
  width: 23px;
  cursor: pointer;
}

.listview {
  display: none;
}

.show {
  display: block;
}

.save-button {
  padding: 10px;
  margin: 35px 0 0 20px;
  border-radius: 5px;
  outline-color: white;
  font-size: 12pt;
  cursor: pointer;
}

#status {
  display: inline-block;
  margin: 10px;
}

.checkall {
  margin-bottom: 10px;
  margin-top: 0px;
}

.all {
  margin-right: 10px;
}

.none {
  margin-left: 10px;
}

.all, .none {
  cursor: pointer;
  color: #6495ED;
}

.all:hover, .none:hover, .all:active, .none:active {
  color: lightblue;
}

.github {
  display: block;
  margin: 35px 0 0 20px; 
  font-size: 11pt;
}
